.collections{
    height: 100%;
    width: 80%;
   
}

.collections .nosearchresult{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collections .nosearchresult img{
    height: 60vh;
    width: auto;
}


