.formbox{
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
    height: 400px;
    width: 400px;
    
}

.formbox form{
    height: 350px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formbox .loginheading{
    display: flex;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    align-items: center;
    
}

.formbox .loginimage{
    height: 70%;
    width: 35%;
}

.formbox img{
    height: 70px;
    width: 72px;
    border-radius: 50%;
}

form input{
    padding: 10px;
    outline: none;
    height: 55px;
    width: 70%;
    border: 0.1px solid #ddd;
}

#createaccount{
    color: orange;
    cursor: pointer;
}

#createaccount:hover{
    color: darkorange;
}


form .loginstructure{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

form button{
    margin: 20px 0px 20px 0px;
    height: 45px;
    width: 70%;
    background-color: #1ba672;
    border: none;
    color: white;
}
