.fooditems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}


.fooditems .fooditem{
    transition: 0.2s ease-in;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
    max-height: 250px;
    width: 260px;
    max-width: 260px;
    min-width: 260px;
    margin: 10px 5px 50px 10px;
    cursor: pointer;
}

.fooditems .fooditem:hover{

    scale: 0.9;
}

.fooditem .foodimg{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 150px;
    height: 150px;
    width: 160px;
    max-width: 270px;
    min-width: 260px;
    max-height: 150px;
}

.foodimg h5{
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10px;
    left: 10px;
    font-weight: 1000;
    color: white;
}
.fooditem .foodimg img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.fooditem .nameratingaddress{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    gap: 5px;
}


.ratingdeliverytime{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.resname{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.resaddress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.resaddress p{
    font-size: 10px;
}

.showmore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.showmore button{
    height: 55px;
    width: 180px;
    background: none;
    color: orange;
    border-radius: 10px;
    border: 0.1px solid orange;
    
}


.showmore button:hover{
    background-color: orange;
    color: white;
    font-weight: 600;
}
.ratingdeliverytime img{
    height: 20px;
}

@media (max-width:460px) {
    
    .fooditems .fooditem{
        display: flex;
        flex-direction: row;
        min-width: 380px;
        min-height: 50px;
        max-height: 140px;
        margin: 0px 10px 40px 30px;
    }

    .fooditem .foodimg{
        min-width: 180px;
        min-height: 50px;
        max-height: 100px;
        
    }
    .fooditem .foodimg img{
        min-width: 180px;
        min-height: 70px;
    }


}
