.menulist{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
    overflow-x: auto;
}

.menulist .item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    height: 95%;
    width: 20%;
    cursor: pointer;
}

.menulist .item img{
    height: 140px;
    width: auto;
}

.menulist::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }



@media (max-width:460px) {
    .menulist{
        width: 77vw;
    }

    .menulist .item img{
        height: 60px;
    }
}