.navbar{
     height: 10vh;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 80vw;
}

.navbar .logo{
    transition: 0.1s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 30%;
    cursor: pointer;

}

.navbar .logo:hover{
    scale: 1.1;
}

.navbar .logo img{
    height: 50%;
    width: auto;
}

.navbar .right{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;

}

.navbar ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul li{
    list-style: none;
    font-weight: 600;
    font-size: 17px;
     cursor: pointer;
     
}




.navbar ul li:hover{
       color: orange;
}

.right .search{
    cursor: pointer;
}

.navbar .right .signup1 button{
    height: 35px;
    width: 120px;
    background-color: rgb(255, 166, 0);
    color: white;
    border: none;
}

.navbar .right .signup1 button:hover{
    background-color: darkorange;
}

.cart1{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart1 p{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    font-weight: 500;
    font-weight: bolder;
}



@media (max-width:460px) {

    .navbar{
        flex-wrap: wrap;
        max-width:480px;
        width: 90vw;
    }

    .navbar img{
        height: 20px;
        width: auto;
    }


    .navbar .logo{
        width: auto;
    }

    .navbar .logo img{
        height: 20px;
    }

    
    .navbar ul{
        display: none;
    }

    .navbar .right{
        gap: 15px;
        width: 60%;
    }

    .cart1 p{
        
        left: 5px;
        top: 5px;
        
    }
}
