.navbar{
     height: 10vh;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 80%;
}

.navbar .logo{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 30%;
}

.navbar .logo img{
    height: 50%;
    width: auto;
}

.navbar .right{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;

}

.navbar ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul li{
    list-style: none;
}

.navbar .right .signup1 button{
    height: 35px;
    width: 120px;
    background-color: orange;
    color: white;
    border: none;
}

.cart1{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart1 p{
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 12px;
    font-weight: 500;
}



@media (max-width:460px) {

    .navbar{
        flex-wrap: wrap;
        max-width:480px;
        width: 93vw;
    }

    .navbar img{
        height: 20px;
        width: auto;
    }


    .navbar .logo{
        width: auto;
    }

    .navbar .logo img{
        height: 20px;
    }

    
    .navbar ul{
        display: none;
    }

    .navbar .right{
        gap: 15px;
        width: 60%;
    }
}
